<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Reviews</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="container">
        <h1>Movie Reviews</h1>
        <% if (user) { %>
        <p>Welcome, <%= user.username %>! <a href="/user">Go to userpage</a> <a href="/logout">Logout</a></p>
        <% } else { %>
        <p><a href="/login">Login</a> to leave a review.</p>
        <% } %>

        <p><a href="/region">Choose region</a></p>

                <p><a href="/sort/rating">Sort on rating</a></p>
                <p><a href="/sort/release">Sort on release date</a></p>
                <p><a href="/sort/title">Sort on title</a></p>

            
            <!-- search form -->
            <form action="/search" method="GET">
                <div> 
                    <label for="search">Search</label>
                    <input type="text" id="search" name="search" required>
                </div>
                <button type="submit">Search</button>
            </form>


                    <!-- Movie grid -->
                    <div class="movie-grid">
                        <% movies.forEach(movie=> { %>
                            <div class="movie-box">
                                <a href="/movie/<%= movie.id %>">
                                    <img src="/Images/<%= movie.id %>.jpg" alt="<%= movie.primary_title %>">
                                    <h2>
                                        <%= movie.primary_title %> (<%= movie.release_date %>)
                                    </h2>
                                </a>
                            </div>
                            <% }); %>
                    </div>
    </div>
</body>

</html>
